img {
  width: 100%;
}
.all_songs_text{
  font-family: 'Monomakh';
}
/* SONGS */
.recommended-songs {
  padding-left: 20px;
  padding-right: 20px;
  /* padding-bottom: 120px; */
  min-height: 65vh;
}

.recommended-songs h1 {
  margin-bottom: 24px;
  color: #fff;
  font-weight: 700;
}

.song-container {
  align-items: center;
  max-height: 80vh; /* Adjust the height as needed */
  overflow-y: scroll;
}

.song {
  display: grid;
  grid-template-columns: 26% auto 10%;
  align-items: center;
  margin-bottom: 16px;
}

.song-img {
  position: relative;
  width: 60px;
  border-radius: 6px;
}

.song-img img {
  aspect-ratio: 4/3;
  border-radius: inherit;
  object-fit: cover;
  border: 2px solid rgba(159, 160, 168, 0.5);
  box-shadow: rgba(221, 221, 221, 0.3) 0px 6px 18px -3px,
    rgba(221, 221, 221, 0.2) 0px -3px 0px inset;
}

.song-img .overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 92%;
  background-color: rgba(169, 150, 253, 0.6);
  border-radius: inherit;
  font-size: 1.75rem;
  opacity: 0;
  transition: all 0.4s linear;
  cursor: pointer;
}

.song-img:hover .overlay {
  opacity: 1;
}

.song h2 {
  font-size: 1rem;
  color: #fff;
  font-weight: 600;
}

.song p,
.song span {
  font-size: 0.8rem;
  font-weight: 300;
  color: #fff;
}

.song p {
  opacity: 0.8;
}

.track-divider {
  width: 100%;
  height: 2px;
  background-color: white;
  margin: 20px 0;
}

.section-container {
  width: 100%;
  position: relative;
}

.section-price {
  color: white;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  right: 15px;
  top: -20%;
  transform: translateY(-50%);
  z-index: 2;
}
