.header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  position: relative;
  margin-top: 75px;
}

.logo-container {
  height: 80px;
  width: 80px;
  margin-top: 20px;
}

.logo {
  width: 100%;
  height: 100%;
}

.menu-wrapper {
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: pointer;
  z-index: 998; /* Ensure the menu button is on top */
}

.menu-icon {
  position: relative;
  width: 30px;
  height: 20px;
}

.menu-icon-bar {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #fff;
  margin: 4px 0;
  transition: 0.3s;
}

.menu-icon.open .top {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-icon.open .middle {
  opacity: 0;
}

.menu-icon.open .bottom {
  transform: rotate(-45deg) translate(5px, -5px);
}

#checkbox {
  display: none;
}

.toggle {
  position: fixed;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: .5s;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
}

#bar2 {
  transition-duration: .8s;
}

#bar1,#bar3 {
  width: 70%;
}

#checkbox:checked + .toggle .bars {
  position: absolute;
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: .5s;
}

#checkbox:checked + .toggle {
  transition-duration: .5s;
  transform: rotate(180deg);
}
